<h3>この内容で、ノートに書き込む</h3>

<%= form_with(model: @note, url: notes_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <div class="panel panel-default">
    <div class="panel-body">
      <p>content:<%= @note.content %></p>
    </div>
  </div>
  <%= form.submit "登録する" %>
  <% end %>

  <%= form_with(model: @note, url: new_note_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "もどる", name: 'back' %>
<% end %>
